<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shilina.project_x">

    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- уровень защиты: dangerous -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- уровень защиты: dangerous -->
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" /> <!-- уровень защиты: dangerous -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" /> <!-- уровень защиты: dangerous -->
    <uses-permission android:name="android.permission.READ_CALENDAR" /> <!-- уровень защиты: dangerous -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" /> <!-- уровень защиты: dangerous -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- уровень защиты: dangerous -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- уровень защиты: dangerous -->
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" /> <!-- уровень защиты: normal -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- уровень защиты: normal -->
    <uses-permission android:name="android.permission.CALL_COMPANION_APP" /> <!-- уровень защиты: normal -->
    <uses-permission android:name="android.permission.ACCESS_CALL_AUDIO" /> <!-- уровень защиты: signature|appop -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- уровень защиты: signature|preinstalled|appop|pre23|development -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- уровень защиты: normal -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- уровень защиты: dangerous -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- уровень защиты: normal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- уровень защиты: normal -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- уровень защиты: normal -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- уровень защиты: normal -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_X">
        <activity android:name=".Plan_callsPremActivity"></activity>
        <activity android:name=".StatusPremActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".StatusActivity" />
        <activity android:name=".Plan_callsActivity" />
        <activity android:name=".Later_callsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".PermissionsActivity" />
        <activity android:name=".AboutUsActivity" />
    </application>

</manifest>